/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	background-color: #f0efef;
	color: #000;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	color: white;
	font-size: 25px;
	font-weight: 800;
}

h2 {
	color: #033048;
}

 h5	{
 	color: #f9e42e;
 	text-align: center;
 	padding: 20px;
 	font-size: 25px;
 }

 blockquote {
 	color: white;
 	line-height: 1.5;
 	font-weight: 300;
 	font-style: italic;
 	width: 30%;
 	margin: 0 auto;
 }

 h4 {
 	color: white;
 	font-size: 20px;
 	font-weight: 600;
 }

 footer {
 	background-color: #121212;
 	height: 130px;
 	background-size: cover;
 	font-weight: 800;
 }


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
	max-width: 90%;
  margin: 0 auto;
  width: 1024px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.intro {
	background: url("../images/header_bg.jpg") no-repeat center top rgb(134,141,157);
	background-size: cover;
	height: 450px;
}

.benefits {
	background-color: #f0efef;
	padding: 20px;
	padding-left: 30px;
}

.benefits h3 {
	color: #033048;
 	padding: 10px;
 	font-size: 20px;
 	font-weight: 600;
}

 .benefits p {
 	color: #606161;
 	font-weight: 300;
 	width: 50%;
 }

 .benefits_list { 
 	color: #606161;
 	font-weight: 300;
 	width: 50%;
 	padding: 20px;
  }

.testimonial {
	background: url("../images/testimonial_bg.jpg") no-repeat center bottom rgb(134,141,157);
	background-size: cover;
	text-align: center;
	color: #606161;
	height: 200px;
}

/* button styles */

#signup-container {
	background-color: #f9e42e;
	height: 60px;
	text-align: center;
}

.signup-link {
	color: white;
	background-color: #033048;
	padding: 5px 25px;
	border-radius: 5px;
	margin: 10px;
	display: inline-block;
	font-weight: 800;
	text-decoration: none;
}

#getnow-container {
	text-align: center;
	padding: 30px;
	height: 50px;
}

#getnow-link {
	background-color: #f9e42e;
	color: #033048;
	font-weight: 800;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
}
 
 /* footer style */

.social-icons {
 	text-align: center;
}

.copyright {
	background-color: #121212;
	text-align: center;
	font-weight: 600px;
	color: white;
	font-size: 15px;
	padding-bottom: 20px;
	padding-top: 20px;
	width: 100%;
}

.main-header {
	color: white;
	text-align: center;
	font-size: 20px;
	padding: 30px;
	font-weight: 600;
}

.main-header h2 {
	color: white;
}

/* blog style */

.nav {
	background-color: #033048
}

.nav .header h1 {
	float: left;
	margin: 20px 30px;
}

.nav ul {
	padding-left: 270px;

}

.nav li {
	display: inline-block;
	padding: 25px 15px;
	font-weight: 600;
}

.nav a {
	text-decoration: none;
	color: #f9e42e;
}

.list {
	color: #f9e42e;
}

.column {
	float: left;
	margin-right: 2%;
}

.column:last-child {
	margin-right: 0%;
}

.two-columns.has-sidebar .column:first-child {
	width: 65.333333268%;
}

.two-columns.has-sidebar .column:last-child {
	width: 32.666666634%;
}

.aside {
	padding-right: 50px;
}

.aside ul {
	list-style-type: none;
}

.aside li {
	display: block;
	font-size: 17px;
	padding-right: 50px;
	font-weight: 300;
	color: #033048;
}

.aside p {
	font-size: 17px;
	font-weight: 300;
	color: #033048;
}

.aside h3 {
	font-weight: 600;
	font-size: 20px;
	padding: 20px 0px 10px;
	color: #033048;
}

.aside a {
	text-decoration: none;
	font-weight: 600;
	color: #033048;
	padding-bottom: 20px;
	display: block;
}

.ad_img {
	padding-top: 40px;
}

.main img {
	max-width: 90%;
}

.main {
	padding-left: 30px;
	display: block;
}

.main p {
	padding: 10px 0 10px;
	font-weight: 300;
	color: #606161;
	width: 90%;
}

.main h2 {
	padding: 30px 0 10px;
	font-size: 20px;
	font-weight: 600;
}

.main a {
	text-decoration: none;
	padding: 10px 0;
	text-align: right;
	max-width: 90%;
	float: right;
	font-weight: 600;
	color: #033048;
}

a:hover {
	color: #f9e42e;
}

.firstcharacter {
	font-size: 50px;
	float: left;
	font-weight: 600;
}

hr {
	width: 90%;
	margin-left: 0;
	text-align: left;
	margin: 10px 0 20px;
	color: #606161;
}
